<section class="h-screen">
  <div class="container mx-auto">
    <div class="mx-5 md:mx-0">
      <h1 class="text-2xl font-semibold max-md:text-center text-white pt-5">
        User Managment
      </h1>
      <div class="flex flex-wrap max-lg:gap-2 items-center">
        <div class="md:flex w-full lg:w-7/12">
          <app-search
            (search)="searchByName($event)"

          ></app-search>
          <app-filter
            (selectDate)="selectDate($event)"
            (filterDate)="filterDate($event)"
            (filterRole)="filterRole($event)"
           
          ></app-filter>
        </div>

        <app-new-user
          (newUser)="newUser($event)"
          class="w-full lg:w-5/12"
        ></app-new-user>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="mt-5">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef >
            <mat-checkbox color="primary"  [(ngModel)]="selected" (change)="selectedUsers()" class="example-margin"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let user; let i = index">
            <mat-checkbox color="primary" [checked]="selected" (change)="checkBox(user)" class="example-margin"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let user">{{ this.user.username }}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let user">{{ user.role }}</td>
        </ng-container>

        <ng-container matColumnDef="joined">
          <th mat-header-cell *matHeaderCellDef>Joined</th>
          <td mat-cell *matCellDef="let user">{{ user.joined }}</td>
        </ng-container>
        <ng-container matColumnDef="Edit">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <button
              (click)="delete(user.id)"
              mat-raised-button
              color="warn"
              class="mr-2"
            >
              Delete
            </button>
            <button (click)="update(user)" mat-raised-button color="primary">
              Update
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      </table>
      <div class="flex justify-end">
        <button class="m-4 me-40" mat-raised-button color="warn" [disabled]="selectedAll.length == 0" (click)="deleteAll()">Delete selected items</button>
      </div>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic users"
      >
      </mat-paginator>
    </div>
  </div>
</section>
